{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true
    },
    "target": "es2016",
    "transform": {
      "legacyDecorator": false,
      "decoratorMetadata": true
    }
  }
}
